.popup__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 9px;
  margin-bottom: 30px;

  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;

  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background-color: transparent;
}

.popup__input:last-of-type {
  margin-bottom: 48px;
}

.popup__input:focus {
  outline: 1px solid rgba(0, 0, 0, .2);
  border-bottom: none;
}

@media screen and (max-width: 560px) {
  .popup__input:last-of-type {
    margin-bottom: 45px;
  }
}