
.popup {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  align-items: center;
  justify-content: center;
  padding: 195px 0;
  
}

.popup_opened {
  display: flex;
}

.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 34px 36px 37px;
  background-color: #fff;
  max-width: 430px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

@media screen and (max-width: 560px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }
}

.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
  margin: 0 0 54px;
  width: 100%;
}

@media screen and (max-width: 560px) {
  .popup__title {
    font-size: 18px;
    margin-bottom: 75px;
  }
}

.popup__close-button {
  background-image: url(./images/popup-close-button.svg);
  background-size: contain;
  width: 32px;
  height: 32px;
  padding: 0;

  position: absolute;
  right: -40px;
  top: -40px;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 560px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}

.popup__form {
  border: 0;
  display: block;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0 13px;
  margin-bottom: 30px;
}

.popup__form:last-of-type {
  margin-bottom: 48px;
}

@media screen and (max-width: 560px) {
  .popup__form:last-of-type {
    margin-bottom: 45px;
  }
}

.popup__save-button {
  background-color: #000;
  color: #fff;
  border-radius: 2px;

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;

  cursor: pointer;
  border: none;
  transition: opacity 0.2s ease;
}

.popup__save-button:hover {
  opacity: .8;
}

@media screen and (max-width: 560px) {
  .popup__save-button {
    font-size: 14px;
  }
}






