.header {
  max-width: 100%;
  padding-top: 45px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(84,84,84,0.7);
}

@media screen and (max-width: 560px) {
  .header {
    padding-top: 28px;
  }
}