.header {
  max-width: 100%;
  padding: 45px 200px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width:1096px) {
  .header {
    padding: 45px 100px 0;
  }
}

@media screen and (max-width:980px) {
  .header {
    padding: 45px 50px 0;
  }
}

@media screen and (max-width:768px) {
  .header {
    padding-right: 19px;
    padding-left: 19px;
  }
}

@media screen and (max-width: 560px) {
  .header {
    padding: 28px 0 0;
  }
}